.App {
  /* width: 1000px; */
 
  /* align-self: center; */
  position: absolute;
  overflow:auto;
  top:200px;
  bottom:0;
  right:0;
  left:0;
  border:solid 2px black;
  padding: 20px 30px 20px 20px; 
  /* background-color: #fff; */
   border-radius: 24px; 
  box-shadow: 0 60px 40px rgba(5, 5, 5, 0.2);
}

.input-area {
  /* display:flex; */
  /* justify-items: center;  */
  /* position: absolute;
  
  align-content: center; 
  padding-bottom: 20px; */
justify-content: center;

display: flex;




/* border: 3px solid blue; */

padding: 30px;
border-bottom: 1px solid rgb(102, 99, 99);
}
.btn1{
margin: 30px 150px;
}


.h2 {
  font-size: 18px;
}

input {
  border: none;
  background: #f2f5f3;
  padding: 10px 12px;
  width: 300px;
}

.input-1{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-1 {
  gap: 52px;
}

.input-2 {
  gap: 65px;
}

.input-3 {
  gap: 36px;
}
.button{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
 
} 
.button:hover{
  background-color: #3e8e41
    
}

table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  text-align: left;
  padding: 2px 5px;
}
.h1 {
  font-size: .5em; /* 40px/16=2.5em */
  font-family:fantasy;
  color:red
}
.App-header {
 
  background-color: #282c34;
  min-width: 100vmax;
  display: flex;
  height:100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 5vmin);
  color: white;
}

.th {
  background-color: rgb(117, 201, 250);
}

.td {
  background-color: rgb(205, 235, 253);
}
.a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 300px;
  margin-right: 200px;
}

.a:hover, a:active {
  background-color: green;
  color: white;
}